.body
{ 
    text-align:center;
}

#loginLayer
{
    margin:100px auto; 
    width:400px; 
}
/*#submit
{
    margin: auto; 
    width: 150px; 
    height: 30px;
    background-color: #448aff; 
}*/
.loginInput
{
    margin: 20px;
    padding: auto;
}

/*.pos_left
{
    position:relative; 
    left: -8px;
}
.pos_right
{
    position:relative; 
    left: 8px;
}*/
.bizNode
{
    line-height: 30px; 
    color: #353c47; 
    font-size: 22px; 
    font-weight: bold; 
    font-family: Monospace; 
    background-color:#448aff;
}
.bizNode.groupNode
{
    line-height: 24px; 
    color: #353c47; 
    font-size: 20px; 
    font-weight: normal; 
    font-family: Serif; 
    background-color: #ffffff;
}